<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-compatible" content="ie=edge">
<title>Add Resources</title>
</head>
<style>
.form{
font-size:20px;
background-color:#faf5cd;
margin-left:100px;
margin-right:100px;
padding-left:10px;
}
.mainheading{
height:125px;
width:99.2%;
border-style:solid;
background-color:#800080;
margin-left:5px;
margin-top:5px;
margin-bottom:50px;
}
.mainname{
font-style:garamond;
width:30%;
font-size:82px;
padding-top:10px;
padding-left:50px;
color:yellow;
float:left;
}
.body{
  background-color:#b2f4f7;
}
p{
    text-align: center;
    font-size:34px;
}
</style>
<body class="body">
<div class="mainheading">
<div class="mainname">
Covipedia
</div>
</div>
<p>Add Covid Resources here in Covipedia</p>
<form method="POST">
{% csrf_token %}
<fieldset class="form">
<legend>Add Resources Here</legend>
Full Name: 
<input type="text" name="full_name"><br><br>
Place: &nbsp &nbsp 
<input type="text" name="place"><br><br>
Resources: 
<input type="text" name="resource"><br><br>
<button>Post</button>
</fieldset>
</form>
</body>
</html>