<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-compatible" content="ie=edge">
<title>Register</title>
</head>
<style>
.form{
font-size:20px;
background-color:#faf5cd;
margin-left:100px;
margin-right:100px;
padding-left:10px;
}
.mainheading{
height:125px;
width:99.2%;
border-style:solid;
background-color:#800080;
margin-left:5px;
margin-top:5px;
margin-bottom:50px;
}
.mainname{
font-style:garamond;
width:30%;
font-size:82px;
padding-top:10px;
padding-left:50px;
color:yellow;
float:left;
}
.body{
  background-color:#b2f4f7;
}
</style>
<body class="body">
<div class="mainheading">
<div class="mainname">
Covipedia
</div>
</div>
<form method="POST">
{% csrf_token %}
<fieldset class="form">
<legend>Add Resources Here</legend>
First Name: 
<input type="text" name="first_name"><br><br>
Last Name: 
<input type="text" name="last_name"><br><br>
Username: 
<input type="text" name="username"><br><br>
E-mail: 
<input type="email" name="email"><br><br>
Password: 
<input type="Password" name="password1"><br><br>
Confirm Password: 
<input type="Password" name="password2"><br><br>
<button>submit</button>
</fieldset>
</form>
<div>
{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}
</div>
</body>
</html>